* {
  margin: 0;
  padding: 0;
  color: #000000;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Roboto+Slab:wght@200&family=Roboto:ital,wght@1,300&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200;1,400&display=swap');

body {
  overflow-x: hidden;
  position: relative;
}

/* ----------------- MENU ----------- */

.menu-index {
  background-color: #171984;
  /* align-items: center;
  background-color: #171984;
  display: flex;
  height: 5em;
  justify-content: space-evenly;
  position: sticky;
  top: 0%; */
} 

.menu-pages{
  align-items: center;
  background-color: #171984;
  display: flex;
  height: 5em;
  justify-content: space-evenly;
  position: sticky;
  top: 0%;
}

.menu-items {
  display: flex;
  list-style-type: none;
  }

.text-decorartion{
  color: #fcfcfc;
  font-size: 1.6em;
  padding: 25px;
  text-decoration: none;
}

.alitas {
  height: 3em;
  width: 3em;
}

.alitas:hover {
  transform: scale(1.3); 
  transition: all ease-in-out 0.3s ;
}

/* ---------------footer------------- */

footer {
  background-color: #5a5b63;
  display: grid;
  grid-template-columns: [x0] 0.5fr [x1] 0.8fr [x2] 3fr [x3] 1fr [x4];
  grid-template-rows: 8em 4em;
}

.contenedor-menu-footer-1{
  background-color: #1c2dad;
  font-size: 1.3em;
  grid-column: x1/x2;
  grid-row: 1/3;
  display: flex;
  align-items: center;
}

.contenedor-alitas{
  background-color: #1c2dad;
  grid-column: x0/x1;
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
}

.ingpetroleo, 
.fotografo, 
.programador, 
.contactos,
.hoja {
  text-decoration: none;
  align-items: center;
  padding-left: 10px;
  color: #fcfcfc;
  }

.contenedor_contacto {
  align-items: center;
  display: flex;
  font-size: 1.4em;
  flex-direction: column;
  grid-column-start: x2;
  grid-column-end: x2;
} 

.contenedor_redes {
  grid-column-start: x2;
  grid-row: 2;
  font-size: 2em;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
}

.whatsapp {
  background-color: #1eff00;
  color: #f1f1f1;
  width: 1.2em;  
  height: 1.2em;
  padding-top: 0.07em;
  padding-left: 0.21em;
  border-radius: 1em;
}

.facebook {
  background-color: blue;
  color: #fcfcfc;
  width: 1.2em;  
  height: 1.2em;
  padding-top: 0.13em;
  padding-left: 0.27em;
  border-radius: 1em;
}

.twitter {
  background-color: rgb(0, 162, 255);
  color: #fcfcfc;
  width: 1.2em;  
  height: 1.2em;
  padding-top: 0.1em;
  padding-left: 0.15em;
  border-radius: 1em;
}

.instagram {
  background-color: rgb(206, 6, 6);
  color: #fcfcfc;
  width: 1.2em;  
  height: 1.2em;
  padding-top: 0.1em;
  padding-left: 0.19em;
}

.github {
  background-color: rgb(0, 0, 0);
  color: #fcfcfc;
  width: 1.2em;  
  height: 1.2em;
  padding-top: 0.1em;
  padding-left: 0.15em;
  border-radius: 1em;
}

.whatsapp:hover {
  transform: scale(1.3); 
  transition: all ease-in-out 0.3s ;
}

.facebook:hover {
  transform: scale(1.3); 
  transition: all ease-in-out 0.3s ;
}

.twitter:hover {
  transform: scale(1.3); 
  transition: all ease-in-out 0.3s ;
}

.instagram:hover {
  transform: scale(1.3); 
  transition: all ease-in-out 0.3s ;
}

.github:hover {
  transform: scale(1.3); 
  transition: all ease-in-out 0.3s ;
}

@media only screen and (max-width: 991px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 0.6fr;
  }
  
  .contenedor-menu-footer-1{
    background-color: #1c2dad;
    font-size: 1.3em;
    grid-column: 2 ;
    grid-row: 1;
    display: flex;
    align-items: center;
  }
  
  .contenedor-alitas{
    background-color: #1c2dad;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contenedor_contacto {
    align-items: center;
    display: flex;
    font-size: 1.4em;
    flex-direction: column;
    grid-column: 1/3;
    grid-row: 2;
    justify-content: center;
    padding: 10px;
  } 
  
  .contenedor_redes {
    grid-column: 1/3;
    grid-row: 3;
    font-size: 2em;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
  }
}

/* ----------- INDEX CONTENIDO--------- */

.grid-content-index-1{
  background-color: #5a5b63;
  display: grid;
  grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr;
  grid-template-rows: [y0] 7em [y1] 2fr;
}

.grit-bienvenido {
  align-items: center;
  display: flex;
  font-size: 50px;
  grid-column-start: x1;
  margin: auto;
}

.grit-foto-1{
  align-items: center;
  display: flex;
  grid-row: y1;
  margin: auto;
}

.grit-foto-2{
  align-items: center;
  display: flex;
  grid-row: y1;
  margin: auto;
}

.grit-foto-3{
  align-items: center;
  display: flex;
  grid-row: y1;
  margin: auto;
}

.tamaño-foto{
  border: solid 0.25em #ff0303;
  border-radius: 5em;
  width: 25em;
}

.tamaño-foto-13{
  border: solid 0.25em #ff0303;
  border-radius: 5em;
  width: 25em;
}

.content-index-2{
  display: flex;
  flex-direction: column;
  font-size: 3em;
  padding: 1em;
}

.centrado{
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.hello {
  text-align: center;
}

.info{
  text-align: center;
  padding: 1em;
}

.foto-luis{
  border: solid 0.1em #000000;
  border-radius: 1em;
  margin: auto;
  padding: 0.15em;
  width: 10em;
  }

.transform:hover {
  transform: scale(1.1); 
  transition: all ease-in-out 0.3s ;
}

@media only screen and (max-width: 417px) {
  .grid-content-index-1{
    background-color: #5a5b63;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.6fr 1fr 0.6fr;
  }
  .grit-bienvenido {
    align-items: center;
    display: flex;
    font-size: 50px;
    grid-column: 1;
    grid-row: 1;
    margin: auto;
  }
  
  .grit-foto-1{
    align-items: center;
    display: flex;
    grid-row: 2;
    margin: auto;
  }
  
  .grit-foto-2{
    align-items: center;
    display: flex;
    grid-row: 3;
    margin: auto; 
  }
  
  .grit-foto-3{
    align-items: center;
    display: flex;
    grid-row: 4;
    margin: auto;
  }

  .foto-luis{
    width: 100%;
  }

  .tamaño-foto{
    border: solid 0.25em #ff0303;
    border-radius: 5em;
    width: 100%;
  }
  
  .tamaño-foto-13{
    border: solid 0.25em #ff0303;
    border-radius: 5em;
    width: 100%;
  }
}

@media only screen and (min-width: 418px) and (max-width: 991px) {
  .grid-content-index-1{
    background-color: #5a5b63;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.6fr 1fr 0.6fr;
  }
  .grit-bienvenido {
    align-items: center;
    display: flex;
    font-size: 50px;
    grid-column: 1;
    grid-row: 1;
    margin: auto;
  }
  
  .grit-foto-1{
    align-items: center;
    display: flex;
    grid-row: 2;
    margin: auto;
  }
  
  .grit-foto-2{
    align-items: center;
    display: flex;
    grid-row: 3;
    margin: auto;
  }
  
  .grit-foto-3{
    align-items: center;
    display: flex;
    grid-row: 4;
    margin: auto;
  }

  .foto-luis{
    width: 80%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1206px){
  .grid-content-index-1{
    background-color: #5a5b63;
    display: grid;
    grid-template-columns:  1fr  1fr;
    grid-template-rows:  0.1fr  0.6fr  1fr;
  }
  .grit-bienvenido {
    align-items: center;
    display: flex;
    font-size: 50px;
    grid-column: 1/3;
    grid-row: 1;
    margin: auto;
  }
  
  .grit-foto-1{
    align-items: center;
    display: flex;
    grid-row: 2;
    margin: auto;
  }
  
  .grit-foto-2{
    align-items: center;
    display: flex;
    grid-column: 1/3;
    grid-row: 3;
    margin: auto;
  }
  
  .grit-foto-3{
    align-items: center;
    display: flex;
    grid-column: 2;
    grid-row: 2;
    margin: auto;
  }

  .foto-luis{
    width: 50%;
  }
}

/*---------BOTON ACERCA DE MI ------ */

.dropbtn {
  background-color: #8b0707;
  color: white;
  padding: 16px;
  font-size: 1em;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 13em;
  box-shadow: 0px 8px 16px 0px rgba(9, 212, 77, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(0, 174, 255);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #0004ff;
}

  /*------------INGENIERO----------- */

.contenedor-grid-ing {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5em 68em 30em 10em;
  grid-template-areas: 
    "menuu menuu "
    "fotos-index fotos-index "
    "contenido contenido "
    "pie-depagina pie-depagina ";
}
    
.header-grid-ing{
      grid-area: menuu;
}
    
.main-grid{
  background-color: #86b4e2;
  grid-area: fotos-index;
}

.aside-grid{
  background-color: #d7d1f0;
  grid-area: contenido;
}
    
.foorter-grid-ing{
      grid-area: pie-depagina;
}

.contenido-ing  {
  display: grid;
  grid-template-columns: 0.4fr  1fr 1fr;
  grid-template-rows:  0.1fr  1fr  0.5fr;
}

.titulo-inge{
  margin: auto;
  font-size: 5em;
  grid-column: 1/4;
  grid-row: 1;
}

.foto-una-inge{
  margin: auto;
  grid-column: 1;
  grid-row: 2;
}
    
.texto-inge{
  margin: 1em;
  text-align: justify;
  grid-column: 2/4;
  grid-row: 2;
}

.video-inge{
  display: flex;
  align-items: center;
  grid-column: 3;
  grid-row: 3/4;
}

.texto-inge-dos{
  text-align: justify;
  margin: 1em;
  grid-column: 1/3;
  grid-row: 3;
}

.foto-una-ing{
  width: 20em;
  padding: 1em;
}

.foto-dos-ing{
  width: 15em;
}
    
.aside-cont-ing{
  display: grid;
  grid-template-columns: 0.4fr  1fr 0.4fr;
  grid-template-rows:  0.2fr  1fr;
}

.titulo-inge-dos{
  grid-column: 1/4;
  font-size: 3em;
  margin: auto;
}

.texto-inge-tres{
  grid-column: 2;
  grid-row: 2;
  text-align: justify;
}

.foto-tres-inge{
  margin: auto;
  grid-column: 1;
  grid-row: 2;
}


  /*------------FOTOGRAFO----------- */

.menu-fotografo  {
  width: 30em;
  height: 11em;
  background-color: #af2121;
  padding: 1em;
  border: solid 0.25em #000000;
  color: #f1f1f1;
  margin: 1em;
}

.contenedor_fotos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tomaño-foto{
  width: 100%;
  padding: 0.5em;
  border-radius: 1em;
}

.foto_uno,
.foto_dos,
.foto_tres,
.foto_cuatro,
.foto_cinco,
.foto_seis,
.foto_siete {
  width: 33.33%;
}

.tex_fotograf {
  text-align: justify;
  padding: 2em;
}

@media only screen and (max-width: 767px){
  .menu-fotografo  {
    width: 95%;
    background-color: #af2121;
    padding: 1em;
    border: solid 0.25em #000000;
    color: #f1f1f1;
  }

  .contenedor_fotos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .foto_uno,
  .foto_dos,
  .foto_tres,
  .foto_cuatro,
  .foto_cinco,
  .foto_seis,
  .foto_siete {
    width: 90%;
  }
}

/*------------PROGRAMADOR----------- */

.programador-tex section h1 {
  font-size: 5em;
  display: flex;
  justify-content: center;    
  margin: 0.2em;
  color: #000000;
  }

.programador-tex section p {
  display: flex;
  text-align: justify;
  color: #000000;
  padding: 1em;
}

.programador-tex section img {
  display: flex;
  float: left;
  margin-top: 2em;
  margin-left: 1em;
}    

   

/*------------CONTACTANOS----------- */

.centroo {
  display: flex;
  flex-direction: column;
 }  

.color-titulo {
  margin-top: 0.2em;
  display: flex;
  margin: auto;
  align-items: center;
  font-size: 6em;
  color: #f1f1f1;
}

.contactenos_info {
  width: 30em;
  display: flex;
  margin: auto;
  background-color: #7B7889;
  padding-top: 1em;
  padding-left: 4em;
  border: solid 0.25em #ff0303;
  border-radius: 1em;
}

.centro-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;
}

.sino {
  padding: 0.5em;
  margin: auto;
}

.cometario-con {
  display: flex;
  flex-direction: column;
}

.boton-enviar {
  padding: 1em;
  display: flex;
  justify-content: center;
  align items: center;
  }

#nombre {
  width: 25em;
  height: 2.5em;
}

#numero {
  width: 25em;
  height: 2.5em;
}
#correo {
  width: 25em;
  height: 2.5em;
}

#comentario {
  width: 25em;
  height: 14em;
}

#enviar {
  border-radius: 1em;
  height: 2em;
  width: 8em;
  background-color: #ff0303;
  color: #fcfcfc;
  font-size: 2em;
}

