@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Nerko+One&family=Roboto+Slab:wght@200&family=Roboto:ital,wght@0,100;0,500;1,100;1,300;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*---------------------------- INDEX CONTENIDO   CSS ----------------------------*/
body {
  background-color: #000000d7; }

.grid-index-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10em 30em; }

.grit-bienvenido {
  grid-column-start: 2;
  margin: auto; }
  .grit-bienvenido h1 {
    color: #ffffffd7;
    display: flex;
    justify-content: center; }

main div {
  width: 28em; }
  main div a img {
    width: 24em; }
  main div div h3 {
    color: #ffffffd7; }
  main div div p {
    color: #ffffffd7; }

.transform:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.3s; }

.grit-foto-1 {
  align-items: center;
  background-color: #00000096;
  display: flex;
  grid-column-start: 1;
  grid-row: 2;
  margin: auto; }

.grit-foto-2 {
  align-items: center;
  background-color: #00000096;
  display: flex;
  grid-column-start: 2;
  grid-row: 2;
  margin: auto; }

.grit-foto-3 {
  align-items: center;
  background-color: #00000096;
  display: flex;
  grid-column-start: 3;
  grid-row: 2;
  margin: auto; }

.content-index-2 article h3 {
  color: #ffffffd7;
  text-align: center;
  font-size: 6em; }

.content-index-2 article p {
  color: #ffffffd7;
  text-align: center;
  font-size: 4em; }

.content-index-2 article .mb-3 {
  width: 70%; }

.content-index-2 article .col-md-8 {
  font-size: 70%; }

.content-index-2 article div {
  background-color: #00000096;
  margin: auto; }
  .content-index-2 article div .col-md-4 img {
    width: 100%; }

/*---------------------------- FOTOGRAFO         CSS ----------------------------*/
/*---------------------------- INGENIERO         CSS ----------------------------*/
/*---------------------------- PROGRAMADOR       CSS ----------------------------*/
/*---------------------------- CONTACTANOS       CSS ----------------------------*/
/*---------------------------- MENU              CSS ----------------------------*/
.menu-index {
  background-color: #550b0b; }
  .menu-index .alitas {
    width: 4em;
    margin-left: 1em; }
  .menu-index .color-menu-trans {
    color: #ffffffd7;
    font-family: "Nerko One", cursive;
    font-size: 1.4em; }

.alitas:hover {
  transform: scale(1.2);
  transition: all ease-in-out 0.3s; }

.color-menu-trans:hover {
  transform: scale(1.08);
  transition: all ease-in-out 0.3s;
  color: white; }

/*---------------------------- FOOTER            CSS ----------------------------*/
footer {
  background-color: #550b0b; }

.container {
  background-color: #550b0b;
  color: #ffffffd7;
  font-family: "Nerko One", cursive;
  font-size: 1.3em; }

.redes .whatsapp, .redes .facebook, .redes .twitter, .redes .instagram, .redes .github {
  width: 2em;
  font-size: 2em; }

/*---------------------------- INDEX CONTENIDO MEDIA ----------------------------*/
/*---------------------------- INGENIERO       MEDIA ----------------------------*/
/*---------------------------- FOTOGRAFO       MEDIA ----------------------------*/
/*---------------------------- PROGRAMADOR     MEDIA ----------------------------*/
/*---------------------------- CONTACTANOS     MEDIA ----------------------------*/
