@import "./base/reset";
@import "./base/typo";
@import "./layout/menu";
@import "./layout/footer";


  body {
    overflow-x: hidden;
    position: relative;
  }
  
  /* -------------------------------------- INDEX CONTENIDO----------------------------------- */
  .carousel{
    width: 100%;
  }

  .grid-content-index-1{
    background-color: #000000d7;
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr;
    grid-template-rows: [y0] 10em [y1] 25em;
  }

  .grit-bienvenido {
    grid-column-start: x1;
    margin: auto;
  }
  
  .grit-foto-1{
    align-items: center;
    display: flex;
    grid-row: y1;
    margin: auto;
  }
  
  .grit-foto-2{
    align-items: center;
    display: flex;
    grid-row: y1;
    margin: auto;
  }
  
  .grit-foto-3{
    align-items: center;
    display: flex;
    grid-row: y1;
    margin: auto;
  }
  
  .tamaño-foto{
    border: solid 0.25em #000000d7;
    border-radius: 5em;
    width: 25em;
  }
  
  .tamaño-foto-13{
    border: solid 0.25em #000000d7;
    border-radius: 5em;
    width: 25em;
  }
  
  .content-index-2{
    background-color: #000000d7;
    display: flex;
    flex-direction: column;
    font-size: 3em;
    padding: 1em;
  }
  
  .centrado{
    display: flex;
    flex-direction: column;
  }
  
  .hello {
    text-align: center;
  }
  
  .info{
    text-align: center;
    padding: 1em;
  }
  
  .foto-luis{
    border: solid  #000000;
    border-radius: 1em;
    margin: auto;
    padding: 0.15em;
    width: 7em;
    }
  
  .transform:hover {
    transform: scale(1.1); 
    transition: all ease-in-out 0.3s ;
  }
  
  @media only screen and (max-width: 417px) {
    .grid-content-index-1{
      background-color: #5a5b63;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 0.6fr 1fr 0.6fr;
    }
  
    .content-index-2{
      display: flex;
      flex-direction: column;
      font-size: 2em;
      padding: 1em;
    }
  
    .grit-bienvenido {
      align-items: center;
      display: flex;
      font-size: 50px;
      grid-column: 1;
      grid-row: 1;
      margin: auto;
    }
    
    .grit-foto-1{
      align-items: center;
      display: flex;
      grid-row: 2;
      margin: auto;
    }
    
    .grit-foto-2{
      align-items: center;
      display: flex;
      grid-row: 3;
      margin: auto; 
    }
    
    .grit-foto-3{
      align-items: center;
      display: flex;
      grid-row: 4;
      margin: auto;
    }
  
    .foto-luis{
      width: 100%;
    }
  
    .tamaño-foto{
      border: solid 0.25em #ff0303;
      border-radius: 5em;
      width: 100%;
    }
    
    .tamaño-foto-13{
      border: solid 0.25em #ff0303;
      border-radius: 5em;
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 418px) and (max-width: 991px) {
    .grid-content-index-1{
      background-color: #5a5b63;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 0.6fr 1fr 0.6fr;
    }
    .grit-bienvenido {
      align-items: center;
      display: flex;
      font-size: 50px;
      grid-column: 1;
      grid-row: 1;
      margin: auto;
    }
    
    .grit-foto-1{
      align-items: center;
      display: flex;
      grid-row: 2;
      margin: auto;
    }
    
    .grit-foto-2{
      align-items: center;
      display: flex;
      grid-row: 3;
      margin: auto;
    }
    
    .grit-foto-3{
      align-items: center;
      display: flex;
      grid-row: 4;
      margin: auto;
    }
  
    .foto-luis{
      width: 85%;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1206px){
    .grid-content-index-1{
      background-color: #5a5b63;
      display: grid;
      grid-template-columns:  1fr  1fr;
      grid-template-rows:  0.1fr  0.6fr  1fr;
    }
    .grit-bienvenido {
      align-items: center;
      display: flex;
      font-size: 50px;
      grid-column: 1/3;
      grid-row: 1;
      margin: auto;
    }
    
    .grit-foto-1{
      align-items: center;
      display: flex;
      grid-row: 2;
      margin: auto;
    }
    
    .grit-foto-2{
      align-items: center;
      display: flex;
      grid-column: 1/3;
      grid-row: 3;
      margin: auto;
    }
    
    .grit-foto-3{
      align-items: center;
      display: flex;
      grid-column: 2;
      grid-row: 2;
      margin: auto;
    }
  
    .foto-luis{
      width: 60%;
    }
  }
  
  /*------------------------------------BOTON ACERCA DE MI ----------------------------------- */
  
  .dropbtn {
    background-color: #8b0707;
    color: white;
    padding: 16px;
    font-size: 1em;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 13em;
    box-shadow: 0px 8px 16px 0px rgba(9, 212, 77, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(0, 174, 255);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #0004ff;
  }
  
    /*-------------------------------------------INGENIERO------------------------------------ */
  
  .contenedor-grid-ing {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3% 65% 23.5% 8.5%;
    grid-template-areas: 
      "menuu menuu "
      "fotos-index fotos-index "
      "contenido contenido "
      "pie-depagina pie-depagina ";
  }
      
  .header-grid-ing{
        grid-area: menuu;
  }
      
  .main-grid{
    background-color: #000000d7;
    grid-area: fotos-index;
  }
  
  .aside-grid{
    background-color: #000000d7;
    grid-area: contenido;
  }
      
  .foorter-grid-ing{
        grid-area: pie-depagina;
  }
  
  .contenido-ing  {
    display: grid;
    grid-template-columns: 0.4fr  1fr 1fr;
    grid-template-rows:  0.2fr  1fr  0.7fr;
  }
  
  .titulo-inge{
    margin: auto;
    font-size: 5em;
    grid-column: 1/4;
    grid-row: 1;
  }
  
  .foto-una-inge{
    margin: auto;
    grid-column: 1;
    grid-row: 2;
  }
      
  .texto-inge{
    margin: 1em;
    text-align: justify;
    grid-column: 2/4;
    grid-row: 2;
  }
  
  .video-inge{
    display: flex;
    align-items: center;
    grid-column: 3;
    grid-row: 3/4;
  }
  
  .texto-inge-dos{
    text-align: justify;
    margin: 1em;
    grid-column: 1/3;
    grid-row: 3;
  }
  
  .foto-una-ing{
    width: 20em;
    padding: 1em;
  }
  
  .foto-dos-ing{
    width: 15em;
  }
      
  .aside-cont-ing{
    display: grid;
    grid-template-columns: 0.2fr  1fr;
    grid-template-rows:  0.2fr  1fr;
  }
  
  .titulo-inge-dos{
    grid-column: 1/4;
    font-size: 3em;
    margin: auto;
  }
  
  .texto-inge-tres{
    grid-column: 2;
    grid-row: 2;
    text-align: justify;
    padding: 1em;
  }
  
  .foto-dos-inge{
    margin: auto;
    grid-column: 1;
    grid-row: 2;
  }
  
  @media only screen and (max-width: 417px) {
    .contenedor-grid-ing {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 6fr 2.2fr 1fr;
    }
  
    .header-grid-ing{
      grid-column: 1;
      grid-row: 1;
    }
    
    .main-grid{
    background-color: #000000d7;
    grid-column: 1;
    grid-row: 2;
    }
    
    .aside-grid{
    background-color: #000000d7;
    grid-column: 1;
    grid-row: 3;
    }
      
    .foorter-grid-ing{
      grid-column: 1;
      grid-row: 4;
    }
  
    .contenido-ing  {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.01fr 0.5fr 2fr 0.5fr 1fr;
      }
      
      .titulo-inge{
      margin: auto;
      font-size: 5em;
      grid-column: 1;
      grid-row: 1;
      }
      
      .foto-una-inge{
      margin: auto;
      grid-column: 1;
      grid-row: 2;
      }
        
      .texto-inge{
      margin: 1em;
      text-align: justify;
      grid-column: 1;
      grid-row: 3;
      }
      
      .video-inge{
      display: flex;
      align-items: center;
      width: 80%;
      grid-column: 1;
      grid-row: 4;
      }
      
      .texto-inge-dos{
      text-align: justify;
      margin: 1em;
      grid-column: 1;
      grid-row: 5;
      }
      
      .foto-una-ing{
      width: 20em;
      padding: 1em;
      }
      
      .foto-dos-ing{
      width: 15em;
      }
        
      .aside-cont-ing{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 1fr 0.5fr ;
      }
      
      .titulo-inge-dos{
      grid-column: 1;
      grid-row: 1;
      font-size: 3em;
      margin: auto;
      }
      
      .texto-inge-tres{
      grid-column: 1;
      grid-row: 2;
      text-align: justify;
      }
      
      .foto-dos-inge{
      margin: auto;
      grid-column: 1;
      grid-row: 3;
      }
  }
  
  @media only screen and (min-width: 418px) and (max-width: 991px) {
    .contenedor-grid-ing {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 6fr 2.2fr 1fr;
    }
  
    .header-grid-ing{
      grid-column: 1;
      grid-row: 1;
    }
    
    .main-grid{
    background-color: #000000d7;
    grid-column: 1;
    grid-row: 2;
    }
    
    .aside-grid{
    background-color: #000000d7;
    grid-column: 1;
    grid-row: 3;
    }
      
    .foorter-grid-ing{
      grid-column: 1;
      grid-row: 4;
    }
  
    .contenido-ing  {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.01fr 0.5fr 2fr 0.5fr 1fr;
      }
      
      .titulo-inge{
      margin: auto;
      font-size: 5em;
      grid-column: 1;
      grid-row: 1;
      }
      
      .foto-una-inge{
      margin: auto;
      grid-column: 1;
      grid-row: 2;
      }
        
      .texto-inge{
      margin: 1em;
      text-align: justify;
      grid-column: 1;
      grid-row: 3;
      }
      
      .video-inge{
      display: flex;
      align-items: center;
      width: 100%;
      grid-column: 1;
      grid-row: 4;
      }
      
      .texto-inge-dos{
      text-align: justify;
      margin: 1em;
      grid-column: 1;
      grid-row: 5;
      }
      
      .foto-una-ing{
      width: 20em;
      padding: 1em;
      }
      
      .foto-dos-ing{
      width: 15em;
      }
        
      .aside-cont-ing{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 1fr 0.5fr ;
      }
      
      .titulo-inge-dos{
      grid-column: 1;
      grid-row: 1;
      font-size: 3em;
      margin: auto;
      }
      
      .texto-inge-tres{
      grid-column: 1;
      grid-row: 2;
      text-align: justify;
      }
      
      .foto-dos-inge{
      margin: auto;
      grid-column: 1;
      grid-row: 3;
      }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1206px){
    .contenedor-grid-ing {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 3fr 1fr 0.2fr;
    }
  
    .header-grid-ing{
      grid-column: 1;
      grid-row: 1;
    }
    
    .main-grid{
    background-color: #000000d7;
    grid-column: 1;
    grid-row: 2;
    }
    
    .aside-grid{
    background-color: #000000d7;
    grid-column: 1;
    grid-row: 3;
    }
      
    .foorter-grid-ing{
      grid-column: 1;
      grid-row: 4;
    }
  
    .contenido-ing  {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.01fr 0.5fr 2fr 0.5fr 0.8fr;
      }
      
      .titulo-inge{
      margin: auto;
      font-size: 5em;
      grid-column: 1;
      grid-row: 1;
      }
      
      .foto-una-inge{
      margin: auto;
      grid-column: 1;
      grid-row: 2;
      }
        
      .texto-inge{
      margin: 1em;
      text-align: justify;
      grid-column: 1;
      grid-row: 3;
      }
      
      .video-inge{
      display: flex;
      align-items: center;
      width: 90%;
      grid-column: 1;
      grid-row: 4;
      }
      
      .texto-inge-dos{
      text-align: justify;
      margin: 1em;
      grid-column: 1;
      grid-row: 5;
      }
      
      .foto-una-ing{
      width: 20em;
      padding: 1em;
      }
      
      .foto-dos-ing{
      width: 15em;
      }
        
      .aside-cont-ing{
      display: grid;
      grid-template-columns: 1fr 0.4fr;
      grid-template-rows: 0.2fr 1fr ;
      }
      
      .titulo-inge-dos{
      grid-column: 0/2;
      grid-row: 1;
      font-size: 3em;
      margin: auto;
      }
      
      .texto-inge-tres{
      grid-column: 1;
      grid-row: 2;
      text-align: justify;
      }
      
      .foto-dos-inge{
      margin: auto;
      grid-column: 2;
      grid-row: 2;
      }
  }
  
    /*----------------------------------------FOTOGRAFO--------------------------------------- */
  
  .menu-fotografo  {
    background-color: #000000d7;
    padding: 1em;
    border: solid 0.25em #000000;
    color: #f1f1f1;
  }
  
  .contenedor_fotos{
    background-color: #000000d7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .tomaño-foto{
    width: 100%;
    padding: 0.5em;
    border-radius: 1em;
  }
  
  .foto_uno,
  .foto_dos,
  .foto_tres,
  .foto_cuatro,
  .foto_cinco,
  .foto_seis,
  .foto_siete {
    width: 33.33%;
  }
  
  .tex_fotograf {
    text-align: justify;
    padding: 2em;
  }
  
  @media only screen and (max-width: 767px){
    .menu-fotografo  {
      width: 80%;
      background-color: #af2121;
      padding: 1em;
      border: solid 0.25em #000000;
      color: #f1f1f1;
    }
  
    .contenedor_fotos{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .foto_uno,
    .foto_dos,
    .foto_tres,
    .foto_cuatro,
    .foto_cinco,
    .foto_seis,
    .foto_siete {
      width: 90%;
    }
  }
  
  /*----------------------------------------PROGRAMADOR--------------------------------------- */
  
  .programador-tex section h1 {
    font-size: 5em;
    display: flex;
    justify-content: center;    
    margin: 0.2em;
    color: #000000;
    }
  
  .programador-tex section p {
    display: flex;
    text-align: justify;
    color: #000000;
    padding: 1em;
  }
  
  .programador-tex section img {
    display: flex;
    float: left;
    align-items: center;
    margin-top: 10em;
    margin-left: 1em;
  }    
  
  @media only screen and (max-width: 767px){
    .programador-tex section h1 {
      font-size: 300%;
      display: flex;
      justify-content: center;    
      margin: 0.2em;
      color: #000000;
    }
    
    .programador-tex section img {
      display: flex;
      float: inherit;
      margin: auto;
      width: 90%;
    }         
  
    .programador-tex section p {
      display: flex;
      text-align: justify;
      color: #000000;
      padding: 1em;
    }
    
   
  }
  
  /*----------------------------------------CONTACTANOS--------------------------------------- */
  
  .grid-contactenos {
    background-color: #86b4e2;
    display: grid;
    grid-template-columns: 0.7fr  1fr ;
    grid-template-rows:  1fr  5fr  1fr 1fr;
   }  
  
   .grid-titul-con{
    margin: auto;
    grid-column: 1/3;
    grid-row: 1;
   }
  
   .grid-form{
    grid-column: 1;
    grid-row: 2/4;
   }
  
   .grid-mapa{
    width: 40em;
    
    grid-column: 2;
    grid-row: 2;
   }
  
  .contactenos_info {
    width: 35em;
    display: flex;
    margin: auto;
    padding-top: 1em;
    padding-left: 4em;
    border: solid 0.25em #ff0303;
    border-radius: 1em;
  }
  
  .centro-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1em;
  }
  
  .sino {
    padding: 0.5em;
    margin: auto;
  }
  
  .cometario-con {
    display: flex;
    flex-direction: column;
  }
  
  .boton-enviar {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  
  #nombre {
    width: 25em;
    height: 2.5em;
  }
  
  #numero {
    width: 25em;
    height: 2.5em;
  }
  #correo {
    width: 25em;
    height: 2.5em;
  }
  
  #comentario {
    width: 25em;
    height: 14em;
  }
  
  #enviar {
    border-radius: 1em;
    height: 2em;
    width: 8em;
    background-color: #ff0303;
    color: #fcfcfc;
    font-size: 2em;
  }
  
  @media only screen and (max-width: 767px){
    .grid-contactenos {
      background-color: #86b4e2;
      display: grid;
      grid-template-columns: 0.7fr ;
      grid-template-rows:  0.2fr  3fr  1.5fr;
     }  
    
     .grid-titul-con{
      margin: auto;
      grid-column: 1;
      grid-row: 1;
     }
    
     .grid-form{
      grid-column: 1;
      grid-row: 2;
     }
    
     .grid-mapa{
      grid-column: 1;
      grid-row: 3;
      width: 100%;
     }  
  
     .contactenos_info {
      padding-top: 1em;
      padding-left: 1em;
    }
    
    .centro-con {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 1em;
    }
    
    .sino {
      padding: 0.5em;
      margin: auto;
    }
    
    .cometario-con {
      display: flex;
      flex-direction: column;
    }
    
    .boton-enviar {
      padding: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      }
    
    #nombre {
      width: 25em;
      height: 2.5em;
    }
    
    #numero {
      width: 25em;
      height: 2.5em;
    }
    #correo {
      width: 25em;
      height: 2.5em;
    }
    
    #comentario {
      width: 25em;
      height: 14em;
    }
    
    #enviar {
      border-radius: 1em;
      height: 2em;
      width: 8em;
      background-color: #ff0303;
      color: #fcfcfc;
      font-size: 2em;
    }
  }