$background-menu: #550b0b;

$background-index: #000000d7;

$background-index2: #000000d7;

$background-index-cards: #00000096;

$color-tex-index: #ffffffd7;

$color-menu: #ffffffd7;

$color-footer: #ffffffd7;

$background-fotografo: #000000d7;

$background-programador: #000000d7;

$background-ingpetroleo: #000000d7;

$background-contactenos: #000000d7;

$background-footer: #550b0b;

$background-fondo-index: #000842;

$fuentes-principal: 'Nerko One', cursive;
$fuentes-secundaria: 'poppins', sans-serif;
$fuentes-ter: 'roboto', sans-serif;