/*---------------------------- INDEX CONTENIDO   CSS ----------------------------*/
body {
    background-color: $background-index;
}
.grid-index-1 {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 10em 30em;
    color: $color-tex-index;
    .card-img img {
        width: 22em;
    }
}

.grid-bienvenido {
    grid-column-start: 2;
    margin: auto;
    h1 {
        display: flex;
        justify-content: center;        
    }
}



.transform:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.3s; 
}

.grid-foto-1 {
    background-color: $background-index-cards;
    grid-column-start: 1;
    grid-row: 2;
    margin: auto;
}

.grid-foto-2 {
    background-color: $background-index-cards;
    grid-column-start: 2;
    grid-row: 2;
    margin: auto;
}


  
.grid-foto-3 {
    background-color: $background-index-cards;
    grid-column-start: 3;
    grid-row: 2;
    margin: auto;
}

.content-index-2 {
    article{
        padding-bottom: 3em;
        .rounded-start{
            margin: 0.5em;
        }
        h3{
            color: $color-tex-index;
            text-align: center;
            font-size: 6em;
        }
        p {
            color: $color-tex-index;
            text-align: center;
            font-size: 4em;
        }
        .mb-3{
            width: 70%;
        }
        .col-md-8 {
            font-size: 70%;
        }
        div {
            background-color: $background-index-cards;
            margin: auto;
            .col-md-4 img {
                width: 100%;
                
            }
        }
        
    }
}
  