/* ------------------------------------------ MENU ----------------------------------------- */
  
.menu-index {
    font-family: 'Nerko One', cursive;
    font-size: 1.5em;
    background-color: #640000;
    position: sticky;
    top: 0%;
  } 
  
  .menu-pages{
    background-color: #640000;
    position: sticky;
    top: 0%;
  }
  
  .alitas {
    height: 3em;
    width: 4em;
  }
  
  .alitas:hover {
    transform: scale(1.3); 
    transition: all ease-in-out 0.3s ;
  }